:root,
[data-bs-theme="light"] {
  --bs-primary: #3a3f44;
  --bs-primary-rgb: 58, 63, 68;
  --bs-primary-text-emphasis: #17191b;
  --bs-primary-bg-subtle: #d8d9da;
  --bs-primary-border-subtle: #b0b2b4;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3a3f44;
  --bs-btn-border-color: #3a3f44;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #31363a;
  --bs-btn-hover-border-color: #2e3236;
  --bs-btn-focus-shadow-rgb: 225, 226, 227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e3236;
  --bs-btn-active-border-color: #2c2f33;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3a3f44;
  --bs-btn-disabled-border-color: #3a3f44;
}

.btn-outline-primary {
  --bs-btn-color: #3a3f44;
  --bs-btn-border-color: #3a3f44;
  --bs-btn-focus-shadow-rgb: 58, 63, 68;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3a3f44;
  --bs-btn-hover-border-color: #3a3f44;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3a3f44;
  --bs-btn-active-border-color: #3a3f44;
  --bs-btn-disabled-color: #3a3f44;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3a3f44;
}

[mv-app] button.mv-add {
  display: none;
}

.mv-save {
  padding: 0.35em 0.6em;
  border: 0;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: inherit;
  position: relative;
  top: -8px;
}

.mv-save:hover {
  background: rgba(255, 255, 255, 0.2);
}
.mv-save::before {
  content: "✓";
  display: inline-block;
  vertical-align: -0.1em;
  margin-right: 0.3em;
  color: white;
  opacity: 0.5;
  font-weight: normal;
}

.mavo__entry {
  display: none;
}

.mavo__entry:nth-child(-n + 20) {
  display: block;
}

.mavo__save {
  visibility: hidden;
}

.mavo__entry:nth-child(-n + 2) .mavo__save {
  visibility: visible;
}

#myInput {
  background-image: url("../img/IcSharpContentPasteSearch.svg"); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 50px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th,
#myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
